.elements__card-number{
  color: #000000;
  Width: 10px;
  Height: 13px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
}
